@import "../variables";

.index-page {
  &__triangle {
    position: absolute;
    width: 700px;
    height: 700px;
    top: -500px;
    left: -400px;
    pointer-events: none;
    z-index: 0;
  }

  &__headline {
    z-index: 10;
    position: relative;
  }

  &__link-list {
    text-transform: uppercase;
    font-family: $font-headline;
    font-weight: bold;
    margin-left: 0;
    margin-top: -5px;

    li {
      list-style: none;
      margin-bottom: 0;
    }

    a {
      color: $secondary-color;
      font-size: 38px;
      padding: 14px 0;
      margin-bottom: 8px;
      display: block;

      &:hover {
        color: $primary-color;
      }
    }
  }

}

.share-box {
  background: $gray-light;
  padding: 24px 16px 40px;
  max-width: 304px;
  overflow: hidden;

  &__headline {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;
  }

  &__sub-caption {
    font-size: 14px;
    color: black;
    font-weight: normal;
    margin-bottom: 16px;
  }

  &__spotify {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  &__youtube {
    margin-bottom: 8px;
  }
}


.main-content {
  max-width: 600px;
  color: black;

  @media only screen and (min-width: 800px) {
    padding-right: 60px;
  }
}
