@import "../variables";
@import "../keyframes";


.header {
  background: $secondary-color;
  position: relative;
  overflow: hidden;
  height: 120px;

  &__text {
    font-family: "Arial Black", Helvetica;
    text-transform: uppercase;
    line-height: 1;
    font-size: 2.3rem;
    z-index: 10;
    margin-bottom: 20px;
    margin-right: 20px;
    color: white;
  }

  &__logo{
    position: absolute;
    margin-top: 15px;
    z-index: 10;
  }

  &__rect {
    background: $primary-color;
    position: absolute;

    &--1 {
      width: 200px;
      z-index: 1;
      height: 150px;
      left: -113px;
      top: -63px;
      transform: rotate(20deg);
    }

    &--2 {
      width: 150px;
      height: 80px;
      right: -25px;
      top: -52px;
      transform: rotate(25deg);
    }
  }


  &__image-wrapper {
    display: none;
    flex-direction: column;
    align-items: end;
    padding-right: 45px;
    margin-top: -25px;
  }

  &__image-text {
    margin-bottom: 100px;
    margin-top: -8px;
    width: 330px;
    z-index: 2;
  }

  &__image-cover {
    position: absolute !important;
    width: 150px;
    top: 135px;
    right: 46px;
    z-index: 1;
  }

  &::after {
    content: " ";
    width: calc(100% + 40px);
    height: 180px;
    background: white;
    bottom: -150px;
    left: -20px;
    position: absolute;
    transform: rotate(-4deg);
  }
}

@media only screen and (min-width: 768px) {
  .header{
    height: auto;

    &__logo {
      margin-top: -16px;
    }

    &__image-wrapper {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: flex-end;
      padding: 8px;
      max-width: 922px;
      margin: 0 auto;
    }

    &__image-text {
      width: 260px;
      margin-right: 20px;
      top:22px;
    }

    &__image-cover {
      position: relative !important;
      width: 310px;
      right: 0;
      top:0;
    }

    &__rect{
      &--1 {
        width: 210px;
        height: 210px;
        left: -32px;
        top: -41px;

        animation: wiggle 2s infinite alternate;
      }

      &--2 {
        width: 210px;
        height: 80px;
        right: -66px;
        // right: 106px;
        top: -55px;
        animation: wiggle 5s infinite alternate;
      }

      &--3 {
        width: 300px;
        height: 300px;
        animation: wiggle-30 9s infinite alternate;
        right: -200px;
        bottom: -181px;
      }


    }

    &::after {
      height: 200px;
      animation: wiggle-2 11s infinite alternate;
    }
  }
}

@media only screen and (min-width: 1280px) {
  .header{

    &__text {
      font-size: 2.4rem;
      margin-right: 30px;
    }

    &__rect{
      &--2 {
        right: 106px;
        top: -55px;
        transform: rotate(14deg);
      }

      &--3 {
        right: 30px;
      }
    }
  }
}
